@page
@model SalilWeb.Pages.Admin.FoodTypes.DeleteModel

<form method="post">
    <input hidden asp-for="@Model.foodType.Id" />
    <div class="border p-3 mt-4">
        
     <div class="row pd-2">
      <h2 class="text-primary pl-3">
          Delete FoodType
      </h2>
      <hr />
     </div>
       <div class="mb-3">
           
           @* this is directly we can call model properties as input and use same while saving as well which will make job easier *@
            <label asp-for="@Model.foodType.Name"> </label>
            <input asp-for="@Model.foodType.Name" disabled class = "form-control" />
          
       </div>
            
       <button type ="submit" class="btn btn-danger" style="width:150px;">
           Delete
       </button>
       <a asp-page ="Index" class ="btn btn-secondary" style="width:150px;"> Back to List</a>
    </div>
</form>

@section scripts{
    @{
    <Partial name="_ValidationScriptsPartial"/>
}
}
